<%- include("partials/header"); -%>

<h2 style="text-align:center"><a target="_blank" href = "https://www.linkedin.com/in/ujjwal-dhiman-898281176/">Linkedin</a><h2>
<h2 style="text-align:center"><a target="_blank" href = "https://www.instagram.com/perfect_strange_r/?hl=en">Instagram</a><h2>
<h2 style="text-align:center"><a target="_blank" href = "/">Personal Website</a><h2>

<%- include("partials/footer"); -%>